@font-face {
    font-family: 'TheSeasons';
    src: url('foto_strona/Fontspring-DEMO-theseasons-reg.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  /*
  body{
      background-color: #E5D9CE ;
      margin:0;
  }*/
  /* Ogólny reset stylów */
  body, h1, ul, li, a {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
   
  /* Styl ogólny */
body {
      font-family: 'Cardo', serif;
      background-color: #A08872;
      color: #E5D9CE;
      line-height: 1.6;
  }
.middle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 700px;
      height:120px;
      transform: translate(-50%, -50%);
      background-color: rgba(109, 86, 58, 0.6);
      border-radius: 17px;
      padding: 35px;
  }
   
   
.middle h1 {
      font-family: 'TheSeasons';
      font-weight: lighter;
      text-align: center;
      font-size: 90px;
      color: #ffffff;
  }
   
.left-side img {
      display: block;
      max-width: 50%;
      height: auto;
      z-index: -1;
  }
   
.middle.hidden h1 {
    display: none;
}

.middle.hidden {
    display: none;
}

/* Nawigacja */
nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
}

#menuToggle {
    position: relative;
}

#menuToggle input {
    display: none;
}

#menuToggle label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 35px;
    height: 30px;
}

#menuToggle label span {
    background-color: #fff;
    height: 4px;
    width: 100%;
    border-radius: 3px;
}

#mobilemenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    border-radius: 10px;
}

#mobilemenu li {
    margin: 15px 0;
}

#mobilemenu li a {
    color: #E5D9CE;
    text-decoration: none;
    font-size: 60px;
}
   
  footer {
      color: #E5D9CE;
      display: flex;
      z-index:10;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      position: fixed;
      bottom: 0;
      left: 20px;
      gap: 1150px;
  }
   
  footer .copyright {
      flex: 1;
      font-size: 18px;
  }
   
  footer .social_media {
      flex: 1;
      display: flex;
      justify-content: center;
      gap: 20px;
  }
   
  footer .social_media a {
      color: #E5D9CE;
      text-decoration: none;
      font-size: 20px;
  }