
.middle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 700px;
      height:120px;
      transform: translate(-50%, -50%);
      background-color: rgba(109, 86, 58, 0.40);
      border-radius: 17px;
      padding: 35px;
  }


.middle h1 {
      font-family: 'TheSeasons';
      font-weight: lighter;
      text-align: center;
      font-size: 90px;
      color: #ffffff;
  }
.left-side {
    position: relative;
    width: 50%;
    height: 100vh; /* Pełna wysokość widoku */
    float: left;
    overflow: hidden;
}

.left-side img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.middle.hidden h1 {
    display: none;
}

.middle.hidden {
    display: none;
}

#mobilemenu {
    background-color: transparent;
}

#mobilemenu.show
{
    opacity:1;
    visibility:visible;
}


@media (max-width: 768px) {
    .middle {
        background-color: rgba(207, 174, 154, 0.40);
        height: 8vh; /* wysokość nagłówka */
        width: 88vw;
        text-align: center;
        top: 20vh;
        border-radius: 40px;
        padding: 0px;
    }

    .middle h1 {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align:center;
        font-size: 6vw;
        margin:0px;
        color: #ffffff;
    }
    .left-side {
        position: relative;
        width: 100vw;
        height: 100vh;
        float: none;
        overflow: hidden;
    }
    .left-side img {
        object-position: right top;
    }

}
