
body {
    margin: 0;
    font-family: 'Cardo', serif;
    background-color: #86715c;
    line-height: 1.6;
}

/* Zdjęcie z cytatem i formularz kontaktowy */

.container {
    display: flex;
    min-height: 100%;
}


/* Lewy kontener z obrazem i cytatem */

.left-side {
    flex: 1;
    position: relative;
    background: url('port/33.JPG') center/cover no-repeat;
}

.left-side-text {
    position: relative;
    text-align: left;
    z-index: 1;
    padding: 20px;
    font-weight: lighter;
    line-height: 2;
    text-align: left;
    margin-top: 45px;

}

.left-side-text h1 {
    font-family: 'Cardo', serif;
    font-size: 55px;
    color: rgba(26, 20, 12, 1);
    margin-left: 45px;
}

/* Prawy kontener - formularz konatkowy */
.right {
    flex: 1;
    background-color: #86715c;
    padding: 45px;
    font-family: 'Cardo', serif;
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
}

.contact-form h2 {
    text-align: left;
    font-size: 40px;
    color: rgba(26, 20, 12, 1);
    margin-bottom: 60px;
}

.contact-form .form-row {
    display: flex;
    gap: 15px; /* ddstęp między polami */
    margin-bottom: 20px;
}

.contact-form .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 8px;
    font-size: 20px;
    color: rgba(26, 20, 12, 1);
    font-weight: bold;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #E5D9CE;
    background: none;
    outline: none;
    color: #E5D9CE;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #E5D9CE;
    background: none;
    outline: none;
    resize: none;
    color: #E5D9CE;
}

.contact-form textarea:focus,
.contact-form input:focus {
    border-bottom: 1px solid #000;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #E5D9CE;
}

.contact-form button {

    display: inline-block;
    text-decoration: none;
    font-family: 'Cardo', serif;
    background: rgba(26, 20, 12, 0.6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 60px;
}

.contact-form button:hover {
    background-color: #000;
}

/* poziomia linia */
.divider {
    border: 0;
    height: 2px; /* Grubość linii */
    background-color: rgba(26, 20, 12, 0.6); /* Kolor linii */
    width: 100%;
    margin: 0;
}

/* Kontener z mapką i informacjami */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 95%;
    height: 80vh;
    padding: 20px;
    margin-top: 120px;
}

.info-cards {
    width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 60px;
}

.info-card {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #E5D9CE;
}

.info-card h2 {
    margin: 10px 0;
    font-size: 20px;
    color: rgba(26, 20, 12, 1);
    text-align: center;
}

.info-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: rgba(26, 20, 12, 1);
    text-align: center;
}

.info-card p {
    font-size: 14px;
    color: rgba(26, 20, 12, 1);
    text-align: left;
}

.info-card i {
    font-size: 30px;
    color: rgba(26, 20, 12, 1);
    margin-bottom: 10px;
}

/* Mapka */

.map-container {
    width: 95%;
    height: 400px; /* Standardowa wysokość dla desktop */
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Wersja dla małych ekranów */
@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .info-section {
        flex-direction: column;
    }

    .divider {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .left-side {
        background: url('port/33.JPG') center/cover no-repeat;
        position: relative;
    }


    .left-side-text {
        margin-top: 20px;
        padding: 10px;
    }

    .left-side-text h1 {
        font-size: 36px;
        margin-left: 10px;
        color: #ffffff;
    }

    .right {
        padding: 20px;
    }

    .contact-form h2 {
        font-size: 28px;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .contact-form label {
        font-size: 16px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
        padding: 8px;
    }

    .contact-form button {
        font-size: 16px;
        padding: 8px 12px;
        margin-top: 50px;
    }

    .contact-form {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .contact-form .form-row {
        flex-direction: column;
        gap: 10px;
    }

    .info-section {
        margin-top: 20px;
    }

    .info-cards {
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .info-card h2 {
        font-size: 16px;
    }

    .info-card h3 {
        font-size: 14px;
    }

    .info-card p {
        font-size: 12px;
    }

    .map-container {
        min-height: 400px; /* Niższa wysokość dla mniejszych ekranów */
        margin-bottom: 20px; /* Odstęp nadal działa */
    }

    .map-container iframe {
        height: 300px; /* Dopasowanie wysokości iframe */
    }
}