@font-face {
    font-family: 'TheSeasons';
    src: url('foto_strona/Fontspring-DEMO-theseasons-reg.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Styl ogólny */
body {
    font-family: 'Cardo', serif;
    background-color: #86715c;
    line-height: 1.6;
}

/* Witamy + cytat */
.witamy {
    position: relative;
    background-image: url('foto_strona/o_nas_2.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Ustawia układ w kolumnie */
    align-items: left;    /* Wyrównuje elementy w poziomie */
    justify-content: center; /* Wyrównuje elementy w pionie */
    text-align: left;     /* Wyrównuje tekst do środka */
    color: rgba(61, 48, 32, 0.6);
    overflow: hidden;
}

.witamy1, .witamy2 {
    position: relative;
    text-align: left;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 35px; /* Odstęp między tekstami */
}

.witamy1 h1 {
    font-family: 'TheSeasons', serif;
    font-weight: lighter;
    font-size: 4em; /* Rozmiar czcionki dla nagłówka */
    line-height: 1.6;
    text-align: left;
    margin: 0;
    color: rgba(26, 20, 12, 0.6);
    margin-top: -300px;
}
.witamy2 h1 {
    font-family: 'TheSeasons', serif;
    font-weight: lighter;
    font-size: 30px;
    line-height: 1.6;
    text-align: left;
    margin: 0;
    margin-top: -200px;
    color: rgba(26, 20, 12, 0.6);
    /*background-color: hsla(36, 13%, 43%, 0.329);*/ /* opcjonalnie - tło cytatu*/
}

/* Nasza historia */

.our-story {
    padding: 50px 30px;
    text-align: left;
    font-family: 'Cardo', serif;
    color: #E5D9CE; /* Kolor tekstu */
    margin: 10px; /* Odstęp od innych sekcji i wyśrodkowanie */
    width: 90%; /* Szerokość sekcji */
}

.our-story h1 {
    font-size: 35px; /* Większy rozmiar czcionki dla nagłówka */
    font-weight: 700; /* Pogrubiony tekst */
    margin-bottom: 20px; /* Odstęp poniżej nagłówka */
    color: #E5D9CE; /* Kolor nagłówka */
}

.our-story p {
    font-size: 20px; /* Rozmiar czcionki tekstu */
    line-height: 1.8; /* Większa wysokość linii dla lepszej czytelności */
    color: #E5D9CE; /* Kolor tekstu */
    margin-bottom: 20px; /* Odstęp poniżej akapitu */
}

.our-story p br {
    margin-bottom: 10px; /* Odstęp po każdym br */
}

/* poziomia linia */
.divider {
    border: 0;
    height: 2px; /* Grubość linii */
    background-color: #E5D9CE; /* Kolor linii */
    margin-top: 20px; /* Odstęp od tekstu */
    margin-bottom: 5px; /* Odstęp poniżej linii */
}



/* Galeria */
.latest-works {
    padding: 50px 30px; /* Odstępy wewnętrzne wokół tekstu */
    text-align: left;
    font-family: 'Cardo', serif;
    color: #E5D9CE; /* Kolor tekstu */
    margin: 10px; /* Odstęp od innych sekcji i wyśrodkowanie */
    width: 90%; /* Szerokość sekcji */
}

.latest-works h2 {
    font-size: 35px;
    margin-bottom: 50px;
}

.filter-buttons .button {
    background: rgba(26, 20, 12, 0.6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 35px;
    text-decoration: none;  
}

.gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-item {

    height: 250px;
    background-size: cover;
    background-position: center;
}


/* CTA */
.cta {
    padding: 50px;
    text-align: center;
    margin: 10px;
}

.cta h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #E5D9CE; /* Kolor tekstu */
}

.cta p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #E5D9CE; /* Kolor tekstu */
}

.cta .button {
    background: rgba(26, 20, 12, 0.6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 35px;
    text-decoration: none;
}

/* Nawigacja */
nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
}

#menuToggle {
    position: relative;
}

#menuToggle input {
    display: none;
}

#menuToggle label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 35px;
    height: 30px;
}

#menuToggle label span {
    background-color: rgba(61, 48, 32, 0.6);;
    height: 4px;
    width: 100%;
    border-radius: 3px;
}

#mobilemenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    border-radius: 10px;
    background-color: #423323af; /* półprzezroczyste tło menu */
}

#mobilemenu li {
    margin: 15px 0;
}

#mobilemenu li a {
    color:#E5D9CE;
    text-decoration: none;
    font-size: 60px;
}
   
footer {
    color: #E5D9CE;
    display: flex;
    flex-wrap: wrap; /* Pozwala na zawijanie elementów w przypadku braku miejsca */
    justify-content: space-between; /* Rozmieść elementy po przeciwnych stronach */
    align-items: center;
    padding: 10px 20px; /* Dodaj odstępy wewnętrzne */
    position: fixed;
    bottom: 0;
    width: 95%; /* Rozciągnij stopkę na pełną szerokość */
    z-index: 10;
}

footer .copyright {
    text-align: left; /* Wyrównaj tekst do lewej */
    font-size: 18px;
    margin-bottom: 5px; /* Opcjonalne, by dodać miejsce w razie zawijania */
}

footer .social_media {
    display: flex;
    justify-content: flex-end; /* Wyrównaj elementy do prawej */
    gap: 7px; /* Odstęp między ikonami */
    flex-wrap: wrap; /* Pozwala na zawijanie elementów, jeśli miejsca jest mało */
}

footer .social_media a {
    color: #E5D9CE;
    text-decoration: none;
    font-size: 20px;
}

  /* Wersja dla małych ekranów */

@media (max-width: 768px) {
    .witamy {
        height: 70vh; /* wysokość nagłówka */
        text-align: center;
    }

    .witamy1 h1 {
        padding: 10px;
        font-size: 35px;
        margin-top: -175px;
    }

    .witamy2 h1 {
        padding: 10px;
        font-size: 18px;
        /*background-color: hsla(36, 13%, 43%, 0.329);*/
        margin-top: -120px;
    }

    .our-story, .latest-works, .cta {
        padding: 20px; /* Zmniejsz odstępy */
        width: 90%; /* Dopasuj szerokość do ekranu */
    }

    .our-story h1, .latest-works h2, .cta h2 {
        font-size: 1.5em; /* Zmniejsz rozmiar nagłówków */
    }

    .our-story p, .cta p {
        font-size: 1em; /* Zmniejsz rozmiar tekstu */
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr); /* dwa elementy w rzędzie */
        gap: 5px;
    }

    .gallery-item {
        height: 150px;
    }

    #mobilemenu {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: fixed;
        top: 0;
        right: 0; 
        width: 50%;
        height: 50vh;
        z-index: 1000; /* Ustaw odpowiedni indeks */
        font-size: 20px;
    }

    #mobilemenu li a {
        font-size: 1.5em; /* Zmniejsz rozmiar czcionki w menu */
    }

    .cta .button {
        font-size: 25px;
    }

    .filter-buttons .button {
        font-size: 25px;
    }
}
