.middle {
      position: absolute;
      top: 10%;
      left: 50%;
      width: 70%;
      height: 9%;
      transform: translate(-50%, -50%);
      border-radius: 17px;
      padding: 35px;
  }

.middle h1 {
      font-family: 'TheSeasons';
      font-weight: lighter;
      text-align: left;
      font-style: italic;
      font-size:50px;
      color: #ffffff;
  }

.packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    height: 80vh;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 400px;
}

.box {
    display: flex;
    flex-wrap: wrap; /* Pozwala na zawijanie elementów do nowego wiersza */
    gap: 20px; /* Odstęp między kontenerami */
    justify-content: space-around; /* Rozmieszczenie kontenerów */
    margin-bottom: 60px;
}

.box1 {
    position:relative;
    width: calc(50% - 20px); /* Szerokość kontenera - dwa w rzędzie, z uwzględnieniem odstępów */
    height: 300px; /* Ustalona wysokość */
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 3px solid #CABAAC;
    overflow: hidden;
     transition: all 0.3s ease;
}

.box1 img {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box1 .text {
    flex: 1; /* Zajmuje połowę szerokości kontenera */
    display: flex; /* Wyrównanie wewnętrzne */
    flex-direction: column; /* Układ pionowy dla tekstu */
    justify-content: center; /* Wyśrodkowanie w pionie */
    align-items: center; /* Wyśrodkowanie w poziomie */
    padding: 20px; /* Odstępy wewnętrzne */
    text-align: center;
}

h2 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 30px;
    color: rgba(26, 20, 12, 1);
}

.box1 .text p {
    font-size: 16px;
    color: rgba(26, 20, 12, 0.8);
}

#calendar {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}
.box1:hover {
    transform: scale(1.03);
    background-color: rgba(26, 20, 12, 1);
}
.box1 .price {
    position: absolute;
    color: #CABAAC;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 20px;
    margin-right: 50%;
    text-align: left;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.3s ease; /* Animacja */
}

.box1:hover .price {
    opacity: 1;
    transform: scale(1);
    z-index: 4;
}

@media (max-width: 768px){
    .middle {
        width: 90%;
      padding: 20px;
  }

    .middle h1 {
          font-size:24px;
      }
    .middle p{
        font-size: 10px;
    }

    .packages {
        max-width: 80%;
        height: 80vh;
        padding: 20px;
        margin-top: 160px;
        margin-bottom: 550px;
        margin-left: 5%;
    }

    .box1 {
        width: 100%;
        height: 400px;
        flex-direction: column;
        border: 2px solid #CABAAC;
    }

    .box1 img {
        flex: 1;
        height: 70%;
        object-fit: cover;
    }

    .box1 .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .box1 .text p {
        font-size: 10px;
    }

    #calendar {
        max-width: 90%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #fff;
    }

    .box1 .price {
        position: absolute;
        color: #CABAAC;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        padding: 20px;
        margin-right: 50%;
        text-align: left;
        opacity: 0;
        transform: scale(0.9);
        transition: all 0.3s ease; /* Animacja */
    }
}