.middle {
      position: absolute;
      top: 10%;
      left: 50%;
      width: 70%;
      height: 9%;
      transform: translate(-50%, -50%);
      border-radius: 17px;
      padding: 35px;
  }

.middle h1 {
      font-family: 'TheSeasons';
      font-weight: lighter;
      text-align: left;
      font-style: italic;
      font-size:50px;
      color: #ffffff;
  }

.packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    height: 80vh;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.box {
    display: flex;
    flex-wrap: wrap; /* Pozwala na zawijanie elementów do nowego wiersza */
    gap: 20px; /* Odstęp między kontenerami */
    justify-content: space-around; /* Rozmieszczenie kontenerów */
    margin-bottom: 60px;
}

.box1 {
    width: calc(50% - 20px); /* Szerokość kontenera - dwa w rzędzie, z uwzględnieniem odstępów */
    height: 300px; /* Ustalona wysokość */
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 3px solid #CABAAC;
    overflow: hidden;
}

.box1 img {
    flex: 1; /* Zajmuje połowę szerokości kontenera */
    width: 100%; /* Dopasowanie do szerokości */
    height: 100%; /* Dopasowanie do wysokości */
    object-fit: cover; /* Zachowanie proporcji obrazka */
    border-right: 3px solid #CABAAC; /* Opcjonalnie: separator między zdjęciem a tekstem */
}

.box1 .text {
    flex: 1; /* Zajmuje połowę szerokości kontenera */
    display: flex; /* Wyrównanie wewnętrzne */
    flex-direction: column; /* Układ pionowy dla tekstu */
    justify-content: center; /* Wyśrodkowanie w pionie */
    align-items: center; /* Wyśrodkowanie w poziomie */
    padding: 20px; /* Odstępy wewnętrzne */
    text-align: center;
    background-color: rgba(109, 86, 58, 0.1); /* Opcjonalne tło */
}

h2 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 30px;
    color: rgba(26, 20, 12, 1);
}

.box1 .text p {
    font-size: 16px;
    color: rgba(26, 20, 12, 0.8);
}

#calendar {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

