.middle {
      position: absolute;
      top: 20%;
      left: 50%;
      width: 70%;
      height: 9%;
      transform: translate(-50%, -50%);
      background-color: rgba(109, 86, 58, 0.40);
      border-radius: 17px;
      padding: 35px;
  }

.middle h1 {
      font-family: 'TheSeasons';
      font-weight: lighter;
      text-align: center;
      font-size:50px;
      color: #ffffff;
  }
h2{
    font-family: 'TheSeasons';
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    font-size:35px;
    color: #E5D9CE;
}

.left {
    margin-top: 20%;
    position: relative;
    margin-left: 10vw;
    width: 35%;
    height: 50vh; /* Pełna wysokość widoku */
    background: url('port/53.JPG') center/cover no-repeat;
    float: left;
    overflow: hidden;
    border: 3px solid #E5D9CE;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
p {
    color: #ffffff;
    position: relative;
    padding: 12px;
    width: 300px;
    align-items: center;
    height: auto;
    background-color: rgba(109, 86, 58, 0.70);
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    margin: auto;
}
.right {
    margin-top: 20%;
    position: relative;
    margin-right: 10vw;
    width: 35%;
    height: 50vh; /* Pełna wysokość widoku */
    background: url('port/56.JPG') center/cover no-repeat;
    float: right;
    overflow: hidden;
    border: 3px solid #E5D9CE;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.right:hover,
.left:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}