@font-face {
    font-family: 'TheSeasonslight';
    src: url('foto_strona/Fontspring-DEMO-theseasons-lt.otf') format('truetype');
    font-weight: normal;

}
.portfolio_container_mobile{
    display: none;
}
.upright {
    position: absolute;
    top: 4vh;
    left:2vw;
  }
.upright h1 {
      position: absolute;
      font-family: 'TheSeasonslight';
      font-weight: lighter;
      font-style: italic;
      text-align: center;
      font-size: 6vh;
      color: #E5D9CE;
  }
.divider {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    background-color: #E5D9CE;
    width: 70%;
    z-index: -1;
}

.portfolio-container {
    display: flex;
    justify-content: space-between; /* Równe odstępy między kolumnami */
    gap: 40px;
    position: absolute;
    left:30px;
    right:30px;
    top: 0;
    z-index: 2;
}
.portfolio-container p{
      margin: 40px;
      font-family: 'TheSeasonslight';
      font-weight: lighter;
      font-style: italic;
      text-align: center;
      font-size: 3vh;
      color: #E5D9CE;
}
.column1{
    display: inline;
    width: 200px;
    height: auto;
    position:relative;
    top: 140px;
}
.column2 {
    position:relative;
    display: inline;
    width: 250px;
    height: auto;
    top: 100px;
}
.column3 {
    position:relative;
    display: inline;
    width: 300px;
    height: auto;
    top: 140px;
}

.column4 {
    position:relative;
    display: block;
    width: 200px;
    height: auto;
    top: 140px;
}
.column5 {
    position:relative;
    display: block;
    width: 300px;
    height: auto;
    top: 66.5px;
}

.portfolio-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    margin-bottom: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.column1 img:nth-child(n),
.column3 img:nth-child(n) {
    border: 1px solid #E5D9CE;
    border-bottom: 3px solid #E5D9CE;
}

.column1 img:nth-child(2n),
.column2 img:nth-child(2n),
.column5 img:nth-child(2n) {
    border: 2px solid #E5D9CE;
    border-bottom: 4px solid #E5D9CE;
}

.column2 img:nth-child(3n),
.column4 img:nth-child(3n),
.column1 img:nth-child(3n) {
    border: 1px solid #E5D9CE;
    border-bottom: 2px solid #E5D9CE;
    margin-bottom: 30px;
}
.column4 img:nth-child(4n),
.column3 img:nth-child(4n),
.column5 img:nth-child(4n) {
    border: 3px double #E5D9CE;
    border-bottom: 6px double #E5D9CE;
}
.column4 img:nth-child(5n),
.column3 img:nth-child(5n),
.column5 img:nth-child(5n) {
    border: 5px double #E5D9CE;
    border-bottom: 8px double #E5D9CE;
}

.column4 img:nth-child(7n),
.column5 img:nth-child(7n) {
    border: 2px solid #E5D9CE;
    border-radius: 5px;
    border-bottom: 5px solid #E5D9CE;
}


.portfolio-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
footer {
    background-color: #86715c;
}
footer .invit {
    font-weight:lighter;
    font-style:italic;
    font-size: 2vh;
    text-align: center;
}


@media (max-width: 768px) {
    .upright h1 {
      font-size: 4vh;
  }
    footer{
        background-color: transparent;
    }
    footer .invit {
       display:none;
    }
    .upright {
        top: 3vh;
        left: 6vw;
      }
     .divider {
       margin: auto;
        width: 100%;
        top: 10vh;
    }
     .divider1 {
        margin: auto;
        height: 1px;
        background-color: #E5D9CE;
        z-index: -1;
        width: 100%;
    }
    .portfolio-container {
       display:none;
    }
    .portfolio_container_mobile p{
          margin: auto;
          font-family: 'TheSeasonslight';
          font-weight: lighter;
          font-style: italic;
          text-align: center;
          font-size: 2vh;
          color: #E5D9CE;
    }
    .portfolio_container_mobile {
        display: block;
        text-align: center;
        font-size: 0;
        width: 98vw;
        height: auto;
        position: relative;
        top: 12vh;
        padding-bottom: 30px;
    }
    .portfolio_container_mobile img {
        display: inline-block;
        height: 12vh;
        object-fit: cover;
        margin: 1vw;
    }
}